@charset "UTF-8";
/* ----- Grundstil för webbsidan --*/

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 19px;
	height: 100%;
	user-select: none;
}

body {
	height: 100%;
    background-color: rgb(47, 65, 52);
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: grid;
	grid-template-columns: auto minmax(100px,1400px) auto;
	grid-template-rows: min-content auto min-content;
	grid-template-areas:
		".	    header	."
		".	    main	."
		"footer	footer	footer";
}

header {
	grid-area: header;
	background-color: rgb(204, 236, 206);
	box-shadow: 5px 5px 10px rgb(0, 2, 8), -5px 5px 10px rgb(10, 1, 1);
	margin-bottom: 10px;
}
header h1 {
	text-align: center;
}

main {
	grid-area: main;
	padding: 10px;
}

main div {
	background-color: antiquewhite;

}
main #karta {
	width: 100%;
	
}

footer {
	grid-area: footer;
	background-color: rgb(50, 77, 82);
	border-top: 1px solid rgb(194, 236, 96);
	box-shadow: 0px -5px 10px rgb(44, 20, 20);
	padding: 4px;
	font-size: 1em;
	text-align: center;
}

a {
	color: rgb(0, 104, 240);
	background-color: burlywood;
}
a:hover, a:active {
	background-color: rgb(231, 15, 69);
}

button {
	background-color: rgb(137, 135, 219);
	border-radius: 15px;
	font-size: 3em;
	cursor: pointer;
}
button:hover {
	background-color: rgb(235, 213, 229);
}

@media screen and (max-width:400px) {
	header h1, header h2, header h3 {
		font-size: 1em;
	}
}